{# ! ToDo: Need schema and settings  #}

{# <section class="py-5 my-5 bg-light-subtle text-body">
	<div class="container">
		<div class="card-group">

			<div class="card border-0 bg-transparent">
				<div class="card-body">
					<i class="ti ti-truck-loading fs-2"></i>
					<h2 class="h6 fw-bold mb-3">الشحن الدولي</h2>
					<p>نقدم خدمة الشحن الدولي لجميع أنحاء العالم، تستطيع طلب الشحن الدولي، كما يمكنك متابعة حالة طلب الشحن الخاص بك.</p>
				</div>
				<div class="card-footer border-0">
					<button class="btn btn-sm btn-primary">اعرف المزيد</button>
				</div>
			</div>

			<div class="card border-0 bg-transparent">

				<div class="card-body">
					<i class="ti ti-heart-handshake fs-2"></i>
					<h2 class="h6 fw-bold mb-3">دعم العملاء</h2>
					<p>نحن هنا للمساعدة في أي وقت، يمكنك الاتصال بنا عن طريق الهاتف، البريد الإلكتروني، أو الدردشة الحية للحصول على الدعم اللازم.</p>
				</div>
				<div class="card-footer border-0">
					<button class="btn btn-sm btn-primary">اعرف المزيد</button>
				</div>
			</div>

			<div class="card border-0 bg-transparent">

				<div class="card-body">
					<i class="ti ti-pig-money fs-2"></i>
					<h2 class="h6 fw-bold mb-3">الدفع بواسطة البطاقة</h2>
					<p>نحن نقبل جميع البطاقات الإئتمانية الشهيرة، بما في ذلك Visa، Mastercard، American Express، و Discover.</p>
				</div>
				<div class="card-footer border-0">
					<button class="btn btn-sm btn-primary">اعرف المزيد</button>
				</div>
			</div>

		</div>
	</div>

</section> #}
