<div class="toast align-items-center mt-2 ms-2 shadow-lg border-secondary-subtle fixed-top top-0 start-0 z-3 border-0 js-toast" role="alert" aria-live="assertive" aria-atomic="true">
	<div class="toast-header border-secondary-subtle text-bg-primary">
		<i class="ti ti-notification align-middle fs-5" aria-hidden="true"></i>
		<strong class="ms-1 me-auto">
			{{ locals.toast.message.title }}
		</strong>
		<button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="{{locals.accessibility.close.label}}"></button>
	</div>
	<div class="toast-body bg-light-subtle text-secondary-emphasis rounded-bottom js-toast-message"></div>
</div>
